@import url('https://fonts.googleapis.com/css?family=Cinzel|Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Gugi|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
  --site-font: 'Rubik', sans-serif;
  --main-site-color: #37a5ff;
  --main-graph-color: #ffb237;
  --graph-blink-color: #ff4e37;
  background-color: var(--main-site-color);
  color: var(--main-graph-color);
}

html, body {
  margin: 0;

}

.sort-dropdown{
  text-align: center;
  width: 25%;
  display:block;
  margin: 10px auto;
}

.controls {
  text-align: center;
}
button {
  cursor: pointer;
  width: 20%;
  font-family: var(--site-font);
  font-size: 2.5em;
  margin: 10px 5%;
  border-radius: 20px;
}

div.data > *{
  font-family: var(--site-font);
}

.centered {
  text-align: center;
}

.main-banner{
  font-family: var(--site-font);
  /* content: "t.roS"; */
  background-color: black;
  font-size: 3em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.stats-banner {
  font-family: var(--site-font);
  text-align: center;
  margin:0 10px;
  display: inline-block;
}

.stats-holder {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  margin: 15px;
  text-align: center;
}

.graph {
  width: 45vw;
  height: 50vh;
  display: inline-block;
}

.graph-left {
  margin-right: 5vw;
}

.graph-container {
  text-align: center;
  display: inline-block;
  width: 48%;
}

.all-graphs-container {
  margin-left: 3%;
}

.data {
  text-align: left;
}

.timing-span {
  font-size: 2em;
  margin-left: 25px;
}

.column {
  position: relative;
  bottom: 0px;
  display: inline-block;
  border: 1px solid black;
  background-color: var(--main-graph-color);
}

.changed{
  animation: flash 1s forwards linear normal;
}

@keyframes flash {
  0% {
    background:var(--graph-blink-color);
  }
  100% {
    background:var(--main-graph-color);
  }
}

/************** BANNER MADNESS ****************/
h1 span {
  display: inline-block;
  width: .5em;
  margin: 0;
  padding: 0;
  transition: 1s;
}

/************** RECORD STYLES *****************/

.record-item {
  background: white;
  border-radius: 5px;
  margin: 0 15px;
  /* border: 2px solid black; */
  box-shadow: 0px 0px 15px black;
  font-family: var(--site-font)
}

.record-item h3{
  font-size: 2em;
  padding: 10px 15px 0 15px;
  color: var(--graph-blink-color);
}

#sort-records:last-child{
  margin-bottom: 20px;
}

.record-sizing, .record-timing {
  color: var(--graph-blink-color);
  margin: 10px 15px;
  font-size: 1.5em;
  float:right;
}

.record-timing {
  clear: right;
}

.deleteButton {
  font-size: 1em;
  color: black;
  background-color: var(--graph-blink-color);
}

/************** SIDEBAR STYLES ****************/
.prefs-banner{
  font-family: var(--site-font);
  background-color: black;
  margin: 0;
  padding: 5px;
  text-align: center;
}


div.side-menu {
  height: calc(100% - 113px);
  width: 20vw;
  max-width: 240px;
  transform: translateX(-100%);
  position: fixed;
  background-color: white;
  border: 2px solid black;
  z-index: 9;
  transition: .5s ease-out;
}

.open-bubble{
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(100% + 2px);
  border-radius: 0 100px 100px 0;
  background-color: var(--graph-blink-color)
}

.form-item {
  margin-left: 8px;
}

div.open {
  transform: translateX(0%);
}

label {
  display: block;
  margin-top: 20px;
}

label, input {
  font-family: var(--site-font)
}
